html, body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14pt;
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
}

section {
  position: relative;
  height: 100%;
}

section.sidebar {
  position: absolute;
  width: 15rem;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

section.main {
  position: absolute;
  left: 15rem;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

p {
  font-size: 12pt;
}

button {
  cursor: pointer;
}

.inside {
  padding: 0.5rem;
}

#meta button {
  margin-right: 0.5rem;
}

.tool {
  border: 0;
  display: block;
  border-radius: 1rem;
  font-size: 14pt;
  background-color: whitesmoke;
  outline: none;
  width: 100%;
  text-align: left;
  padding-left: 0.75rem;
  margin-bottom: 0.2rem;
}

.tool:hover {
  background-color: #ddf;
}

.tool.selected {
  background-color: #aaf;
}

.description {
  padding: 0 0.8rem;
}

.description ul {
  padding-left: 1rem;
}

.maximize {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.maximize > * {
  width: 100%;
  height: 100%;
}

.relationship {
  stroke: none;
  fill: none;
}

#workspace[data-relationships=true] .relationship {
  stroke: lightblue;
}

.grid {
  stroke: #ddd;
}

.point {
  stroke: white;
  stroke-width: 1;
}

.stroke {
  stroke: black;
  stroke-width: 2;
  fill: none !important;
}

.area {
  stroke: none !important;
  fill: black;
}

.join {
  stroke-linecap: square;
}

.midset, .perpendicular, .hyperbola {
  opacity: 0.5;
}

.midset .stroke { stroke: blue; }
.midset .area { fill: blue; }

.perpendicular .stroke { stroke: magenta; }
.perpendicular .area { fill: magenta; }

.hyperbola .stroke { stroke: purple; }
.hyperbola .area { fill: purple; }

.mindist .area, .mindist .point { fill: lightgreen; }

.mindist .area {
  opacity: 0.5;
}

#explain {
  display: block;
  width: 100%;
  margin: 0.5rem 0 1rem;
  text-align: center;
}

#workspace {
  cursor: crosshair;
}
